/*----------------------------------------------------------------------
Page loader CSS BY HighHay

USAGE:
------
- Add this as an external CSS file and put it before other css links inside
html file
- Add the following tag inside HTML file :
<div class='page-loader'>
    <div><i class='fa fa-spinner  fa-spin'></i><p>loading</p></div>
</div>
------------------------------------------------------------------------*/
.page-loader{
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: #fff;
    display: block;  
    
}
.page-loader .fa{
    font-size: 2.5rem;
}
.page-loader,
.page-loader.visible{
    -webkit-transition: 0.6s;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
    opacity: 1;
    visibility: visible;    
}
.page-loader.p-hidden{
    visibility: hidden;
    opacity: 0;
}
    .page-loader div{
        position: absolute;
        top:50%;
        width: 100%;
        text-align: center;
        color: #1d1d1d;
        margin-top: -50px;
    	display: block; 
    }
		.page-loader div .icon{
			display: inline-block;
			margin-left: -20px;
            left: 50%;
			width: 40px;
			height: 40px;
			content: "";
			background: #0072ce;
			border-radius: 100px;
			border: 8px solid #fff;
			border-top-color: rgba(255, 255, 255, 0.58);
			border-bottom-color: rgba(255, 255, 255, 0.58);
		}
        .page-loader div p{
            margin-top: 100px;
            font-size: 14px;
            color: #555;
            letter-spacing: 1em;
            padding-left: 1em;
            text-transform: uppercase;
/*			font-family: 'Montserrat';*/
			font-family: 'Roboto', 'Helvetica', sans-serif;
			font-weight: bold;
        }