.body-page {
  background-color: #ffffff;
  color: #4d4d4d; }

.body-item {
  background-color: #ffffff;
  color: #4d4d4d; }

.section-item {
  background-color: #ffffff; }

.section-gallery {
  background-color: #ffffff; }

a {
  color: #008AFC;
 }
  a:hover {
    color: rgba(248, 32, 75, 0.8); }

.menu-icon .bars .bar1, .menu-icon .bars .bar2, .menu-icon .bars .bar3 {
  background: #008AFC;
 }

.body-item .page-header-alpha .navbar-brand {
  color: #ffffff; }

.page-header-alpha .all-menu-wrapper {
  background: #ffffff; }

.page-header-alpha .navbar-mainmenu .nav-item a {
  color: #4d4d4d; }
  .page-header-alpha .navbar-mainmenu .nav-item a:hover {
    color: #008AFC;
 }

.page-header-alpha .all-menu-wrapper .navbar-nav .nav-item a {
  opacity: 1; }

.body-page .page-header-alpha .navbar-sidebar .nav-item .icon {
  background: rgba(77, 77, 77, 0.2);
  color: #4d4d4d; }

.body-page .page-header-alpha .navbar-sidebar .nav-item:hover .icon,
.body-page .page-header-alpha .navbar-sidebar .nav-item.active .icon {
  background: #008AFC;

  color: #ffffff; }

.body-page .page-header-alpha .navbar-sidebar .nav-item.active .txt {
  color: #008AFC;
 }

.section-title .title-bg {
  color: #008AFC;

  letter-spacing: 0;
  font-weight: bold; }

.section.active .title-bg {
  opacity: 0.05;
  opacity: 0.1; }

.display-title {
  font-weight: bold; }

.carousel-swiper-beta .slider-container .swiper-slide:before {
  background: rgba(77, 77, 77, 0.05); }

.carousel-swiper-beta .slider-container .legend {
  color: #008AFC;
 }
  .carousel-swiper-beta .slider-container .legend h3 {
    font-weight: bold; }

.img-frame-normal .img-1.shadow,
.img-frame-legend-alpha .img-1.shadow {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); }

.img-frame-legend-alpha .legend {
  color: #008AFC;
 }

.media .icon {
  color: #008AFC;
 }

.btn-outline-white {
  color: #008AFC;

  border-color: currentColor; }
  .btn-outline-white:hover, .btn-outline-white:focus {
    color: rgba(248, 32, 75, 0.5);
    border-color: currentColor; }

.btn-white {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: #008AFC;
 }
  .btn-white:hover {
    background-color: rgba(248, 32, 75, 0.8);
    color: #ffffff; }

.btn-transp-arrow.btn-primary.active, .btn-transp-arrow.btn-primary:active,
.btn-transp-arrow.btn-primary:hover {
  background-color: rgba(77, 77, 77, 0.05);
  color: #4d4d4d;
  box-shadow: none; }

/* subscription form */
.form-container-transparent.form-container-white .form-desc h4 {
  color: #4d4d4d; }

.form-container-transparent.form-container-white .form-input label {
  color: #4d4d4d; }

.form-control-line.form-control-white {
  border-color: #008AFC;
 }

.form-control-outline,
.form-control-line {
  border-color: #008AFC;
 }
  .form-control-outline:focus,
  .form-control-line:focus {
    border-color: #adadad; }

/* scroll down */
.scrolldown {
  color: #4d4d4d; }
  .scrolldown a:before {
    background: #4d4d4d; }
  .scrolldown a:hover:before {
    background: #4d4d4d; }
  .scrolldown a:after {
    border-color: rgba(248, 32, 75, 0.8); }

/* footer */
.page-footer .footer-left p {
  color: rgba(77, 77, 77, 0.5); }

.page-footer .footer-right .social a {
  color: rgba(77, 77, 77, 0.5); }

.page-footer .footer-right .social a:hover {
  color: #4d4d4d;
  color: #008AFC;
 }

/* dot nav at right */
#fp-nav ul li a span {
  background: #4d4d4d; }

#fp-nav li .active span, .fp-slidesNav .active span {
  background: #4d4d4d; }

#fp-nav span:after, .fp-slidesNav span:after {
  background: rgba(77, 77, 77, 0.2); }
