a {
  color: #008AFC;
 }
  /* a:hover {
    color: rgba(248, 32, 75, 0.8); } */

.page-header-alpha .navbar-mainmenu .nav-item a:hover {
  color: #008AFC;
 }

.btn-white {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: #008AFC;
 }
  /* .btn-white:hover {
    background-color: rgba(248, 32, 75, 0.8);
    color: #ffffff; } */

.btn-outline-primary {
  color: #008AFC;

  border-color: currentColor; }

/* .btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: rgba(248, 32, 75, 0.5);
  border-color: currentColor; } */

.btn-transp-arrow.btn-primary.active, .btn-transp-arrow.btn-primary:active,
.btn-transp-arrow.btn-primary:hover {
  background-color: rgba(77, 77, 77, 0.05);
  /* color: #8b8b8b; */
  box-shadow: none; }

/* subscription form */
.form-container-transparent.form-container-white .form-desc h4 {
  color: #ffffff; }

.form-container-transparent.form-container-white .form-input label {
  color: #ffffff; }

.form-control-outline,
.form-control-line {
  border-color: #ffffff; }
  .form-control-outline:focus,
  .form-control-line:focus {
    border-color: #adadad; }

.page-cover:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
 }