
@import "variables";

// $black : #3d3d3d;
$black : #4d4d4d;
$color1 : #008AFC;

// white background and black text : overwrite black and white colors
a{
    color: $color1;
    &:hover{
        color: transparentize($color1, 0.2)
    }
}

// nav
.page-header-alpha .navbar-mainmenu .nav-item a:hover{
    color: $color1;
}

// buttons
.btn-white {
    color: $white;
    border: 1px solid transparent;
    background-color: $color1;
    &:hover{
        background-color: transparentize($color1, 0.2);
        color: $white;
    }
}
.btn-outline-primary{
    color: $color1;
    border-color: currentColor;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus{
    color: transparentize($color1, 0.5);
    border-color: currentColor;
}
.btn-transp-arrow.btn-primary.active, .btn-transp-arrow.btn-primary:active,
.btn-transp-arrow.btn-primary:hover{
    background-color: transparentize($black, 0.95);
    color: $gray;
    box-shadow: none;
}
/* subscription form */
.form-container-transparent.form-container-white .form-desc h4{
    color: $white;
}
.form-container-transparent.form-container-white .form-input label{
    color: $white;
}
// .form-control-line.form-control-white{
//     border-color: $color1;
// }
// message form
.form-control-outline,
.form-control-line{
    border-color: $white;
    &:focus{
        border-color: #adadad;
    }
}

.page-cover{
    &:after{
        content: "";
        background: linear-gradient(to left, #008AFC, #00152e);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.7;
    }
}
