/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .page-header-alpha .navbar-brand .logo img {
        height: 50px;
        width: auto; }

        .sm-order-change-text {
            order: 2;
        }

        .sm-order-change-img {

            order: 1;
        }

  }