.whyus-icons .img img {
    width: 3.5rem !important;
    height: 3.5rem !important;
}


.services-icons .img img {
    width: 3rem !important;
    height: 3rem !important;
}

.price-item h4 {
  
    font-size: 1.1rem !important;
   
}
.customer-icon {
    background-color: #fff !important;
    height: 120px;
    /* margin: .5rem -0.5rem; */
    margin: 11px;
}

.side-nav-link{
    border-left: .1rem solid rgb(134, 133, 133);
    opacity: 1;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	font-weight: 700;
}

.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: rgb(18, 144, 206);
	-webkit-animation: BottomToTop 18s linear infinite 0s;
	-ms-animation: BottomToTop 18s linear infinite 0s;
	animation: BottomToTop 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: rgb(18, 144, 206)
    
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
    color: rgb(18, 144, 206)
   

}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: rgb(18, 144, 206)

}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: rgb(18, 144, 206)

}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: rgb(18, 144, 206)

}
@-webkit-keyframes BottomToTop {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(-30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes BottomToTop {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(-30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes BottomToTop {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(-30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

/* .justify-content-between{
    justify-content: space-evenly !important;
} */
.item{
    width: 116%;
}

.center-hover{
    filter: grayscale(100%);
    opacity: .9;
}

.center-hover:hover{
    filter: grayscale(0);
}