.services-icons .img img {
    width: 3rem !important;
    height: 3rem !important;
}

.price-item h4 {
    font-size: 1.1rem !important;
}
.customer-icon {
    background-color: #fff !important;
    height: 112px;
    margin: .5rem 0.5rem;
}

.rw-sentence{
	margin: 0;
	text-align: left;
	font-weight: 700;
}

.btn-transp-arrow {
  border-radius: 0;
}

.page-header-alpha .navbar-brand .logo img {
    height: 86px;
    width: auto; }

   /*################################# partners logo #########################################*/

   .technology-logo{
     height:90px;
        width:553px;
   }

/* #################################################################################### */

.nav-item .sidebar-menu {
  opacity: 0.6;
}

.navbar-sidebar:hover{
    cursor: pointer;
}

.navbar-sidebar .nav-item .txt {
    display: none
}

#qmenu:hover .nav-item .sidebar-menu {
    display: block;
}


.page-header-alpha .navbar-sidebar .nav-item:hover .link__number{
  border-right: .2rem solid #fff;
  font-weight: 500;
  opacity: 1;
}

.page-header-alpha .navbar-sidebar .nav-item:hover .sidebar-menu{
  font-weight: 500;
  opacity: 1;
}

#qmenu .nav-item {
    height: 38px;
    width: 125px;
    padding: 0 !important;
}

#qmenu .active .sidebar-menu{
    display: block;
    font-weight: 500;
    opacity: 1;
}

#qmenu .active .link__number{
  border-right: .2rem solid #fff;
  font-weight: 500;
  opacity: 1;
}


.qmenu-a {
    display: flex;
    width: 100%;
    height: 100%;
}

.link__number {
    font-size: 12px;
    padding: .5rem;
    border-right: .06rem solid #fff;
    width: 32px;
    opacity: 0.6;
}

.qmenu-a .sidebar-nav {
    padding: .4rem;
}

.slidingVertical{
	display: inline;
	text-indent: 10px;
}

#slidingVertical1, #slidingVertical2 {
  color: #ffb81c;
  display: inline;
}


/* .slidingVertical span{ 
  color: #ffb81c;
  opacity: 0;
	overflow: hidden;
  position: absolute; */
  /* animation: BottomToTop 15s linear infinite 0s;
	-ms-animation: BottomToTop 15s linear infinite 0s;
	-webkit-animation: BottomToTop 15s linear infinite 0s; */
/* } */

/* .slidingVertical span:nth-child(2) { 
  animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
	color: #F9E167;
}

.slidingVertical span:nth-child(3) { 
  animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
    color: #67F9E1
} */


/* .rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #E3FF3F

}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #00B28F;

}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: #DE8CF0

} */
@-webkit-keyframes BottomToTop {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  6% { opacity: 1; -webkit-transform: translateY(0px);}
  7% { opacity: 1; -webkit-transform: translateY(0px);}
  20% { opacity: 0; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(0px); }
  40% { opacity: 0; -webkit-transform: translateY(0px); }
  50% { opacity: 0; -webkit-transform: translateY(0px); }
  60% { opacity: 0; -webkit-transform: translateY(0px); }
  70% { opacity: 0; -webkit-transform: translateY(-30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes BottomToTop {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(-30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes BottomToTop {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(-30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

.item{
    width: 116%;
}

.center-hover{
    /* filter: grayscale(100%); */
    opacity: .9;
}



.solution-btn:hover, .service-btn:hover{
    color: #fff;
    background-color: #2B3343;
}

.btn{
    border-radius: 0px !important
}

.heading-style{
    text-transform: uppercase;
}


/*#################################################################*/

@font-face {
  font-family: NunitoExtraLight;
  src: url('./fonts/nunito/Nunito-ExtraLight.ttf');
}

.css-typing p {
  border-right: 2px solid #ffb81c;
  font-family: NunitoExtraLight;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

.css-typing p:nth-child(1) {
  width: 8em;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 9em;
  opacity: 0;
  -webkit-animation: type2 3s steps(40, end);
  animation: type2 3s steps(40, end);
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 8em;
  opacity: 0;
  -webkit-animation: type2 3.5s steps(40, end);
  animation: type2 3.5s steps(40, end);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  width: 8.5em;
  opacity: 0;
  -webkit-animation: type2 3s steps(40, end);
  animation: type2 3s steps(40, end);
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

 

  .services-container {
    border-style: solid;
    border-width: 1px; 
    border-color:#5689b6;
    position: relative;
  }


  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  .services-container:hover .overlay {
    width: 100%;
    cursor: pointer;
  }
  

  .item-footer {
    width: 80%;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
  }

  .overlay .text-primary {
font-weight: 600;
color: #152b69 !important;
  }

  .overlay .hover-link {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #152b69 !important;
  }

  .price-item .item-features {
    padding: 16px 16px;
  }

  .section h4, .section h5 {
    line-height: 1.4;
}


  /*#############################################################*/

  @media (max-width: 576px) {
    .sideimg-width{

      width: 100% !important;

    }
   }
  @media (max-width: 768px) {
    .sideimg-width{
    
      width: 100% !important;
    }
    }
  @media (min-width: 768px) {
    .sideimg-width{
      
      width: 100% !important;
    }
     }
  @media (min-width: 992px) {
    .sideimg-width{


      width: 100% !important;

    }
     }

  @media (max-height: 480px) {
    .sideimg-width{

      width: 100% !important;

    }
    }
  @media (max-height: 480px) {
    .sideimg-width{

      width: 100% !important;
    }
  }



/* ##################################################################### */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #qmenu{
    display: none;
  }
}